ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
ul button {
  padding: 1rem;
  margin-right: 1rem;
  color: rgba(67, 85, 112, 0.72);
  border: 1px solid grey;
  font-weight: bold;
  font-size: 1.5rem;
}
ul .active {
  color: #059157;
  background-color: white;
}
